<!-- header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/KumarSonu">Kumar Sonu</a></li>
        <li><a href="/ShreyaGhoshal">Ahreya Ghoshal</a></li>
        <li><a href="/SonuNigam">Sonu Nigam</a></li>
        <li><a href="/UditNarayan">Udit Narayan</a></li>
      </ul>
    </nav>
  </header>
  