<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kumar Sonu</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Kumar Sonu</h1>
  <p>Information about Kumar sonu Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum excepturi saepe perferendis vitae cumque facere alias pariatur quo iure ad? Pariatur vel nesciunt tempora officiis beatae maiores quia iure unde neque molestias, quis modi, sapiente ducimus. Sint, impedit ab officia, similique fugiat dolores corporis, error corrupti perspiciatis nam ipsam placeat. Officia accusantium cumque iste veritatis quia non quaerat, accusamus eveniet voluptate magnam deserunt eligendi vero quod nam iusto culpa, quidem beatae voluptas asperiores ipsum atque delectus ipsam recusandae perspiciatis? Consectetur rem quis dolorum laboriosam vitae inventore voluptatum deleniti quibusdam, consequatur sint aliquam asperiores beatae. Quam, itaque voluptates. Tempore, eos repudiandae voluptatibus, dolore perferendis asperiores nisi labore qui laborum quam impedit sit vero porro ex illum rem autem corporis omnis? Veniam ad minus possimus? Id, blanditiis. Distinctio doloremque temporibus mollitia asperiores vitae perspiciatis ab dolorum sunt obcaecati quidem, vel similique minus voluptatibus optio, facilis perferendis odio porro. Tempore dolore quisquam beatae.</p>
</body>
</html>
