<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ahreya Ghoshal</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Ahreya Ghoshal</h1>
  <p>Information about Shreya Ghoshal Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quo dolor corrupti. Id nostrum nisi laboriosam labore distinctio eum voluptas ratione ab, voluptatem, voluptate deserunt facilis? Cupiditate sed unde iusto, vero, facilis fugiat impedit repellendus quae iure qui obcaecati tempora, et beatae? Quo aperiam vero magnam saepe quisquam distinctio consequatur earum, harum id rem natus est quis quos similique excepturi neque incidunt explicabo mollitia velit accusamus. Magni veritatis atque laudantium veniam unde, ex voluptatem minima, laborum aperiam odio laboriosam, voluptate enim? Facere temporibus magni sequi obcaecati debitis sint? Dolorem ullam enim modi placeat, quae nesciunt repudiandae, similique cupiditate, expedita cumque doloribus quas libero minima error delectus tenetur esse quod! Maiores praesentium voluptas, officiis expedita deleniti veniam facere reprehenderit vero voluptate cumque animi fuga sit laboriosam, ea est ducimus. Vitae incidunt ratione eveniet voluptatem provident modi animi rerum nostrum, eaque sunt rem aliquam porro fugit iure ipsa ipsum excepturi. Incidunt, unde!</p>
</body>
</html>
