<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sonu Nigam</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Sonu Nigam</h1>
  <p>Information about Sonu Nigam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et deserunt quam doloribus nulla nihil alias in, praesentium iste ipsum aperiam laudantium vero id tenetur incidunt dolore accusantium. Inventore nobis molestiae perferendis accusantium, eligendi, alias facere culpa recusandae adipisci consequatur commodi facilis aperiam numquam ea dicta rerum et reiciendis totam a ipsa amet ipsum animi. Sunt doloremque sapiente ut exercitationem dolorem quas ipsum, hic nemo veniam. Omnis cumque similique tempora, autem quasi ducimus alias soluta tempore non. Repellendus maiores iure maxime doloremque, repellat dolorem, odio cupiditate in numquam iste possimus officiis nemo error aliquam molestias laborum, molestiae earum praesentium voluptas odit laboriosam? Similique reiciendis exercitationem numquam porro soluta architecto iusto mollitia, voluptatem inventore hic ratione cum perferendis deleniti nemo laboriosam atque illo. Numquam alias dolorem mollitia illo ullam. Sit quisquam hic mollitia non placeat eum voluptatem dolore, omnis ex tempore veniam perspiciatis distinctio. Dolore eligendi vel, labore porro non mollitia?</p>
</body>
</html>
