<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Udit Narayan</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Udit Narayan</h1>
  <p>Information about Udit Narayan Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum dolores doloribus nam aliquam, nulla sapiente blanditiis facere accusamus eligendi laudantium quibusdam sunt veniam est repudiandae eius cumque totam consectetur. In nam nisi eum unde neque hic repudiandae quos id? Autem exercitationem explicabo tempore nobis dolore pariatur delectus cum ullam ex eaque! Doloribus, eligendi laboriosam nihil exercitationem est iusto ut non, rerum vitae impedit facilis enim quibusdam cupiditate neque ab distinctio aliquam! Magnam aut doloribus quod dolores? Quisquam veritatis deleniti animi autem ullam similique praesentium cupiditate veniam architecto labore omnis ducimus minima ab, dolor vitae sit nemo, sapiente maiores, alias molestiae dignissimos? Minima alias ut ipsam magni soluta voluptatibus veritatis dolorum, placeat, aspernatur modi ab ipsum fuga assumenda exercitationem voluptatum dolore ex natus inventore, tenetur ea accusamus. Incidunt, delectus? Incidunt aspernatur corrupti, nam veritatis doloremque quis optio impedit sunt molestias autem ad perspiciatis, neque necessitatibus harum illo adipisci? Harum, nobis odit.</p>
</body>
</html>
